<div id="cookie-banner">
    Diese Website verwendet Cookies, um Analysedaten mit Hilfe von Google Analytics zu erfassen. Weitere Informationen finden Sie in der <a href="https://www.ines-heilmann.de/datenschutz">Datenschutzerklärung</a>.
    <div>
        <button type="button" onclick="acceptCookies()">Zustimmen</button>
        <button type="button" onclick="declineCookies()">Ablehnen</button>
    </div>
</div>