<div id="cookie-banner">
    Diese Website verwendet Cookies, um Analysedaten mit Hilfe von Google Analytics zu erfassen. Weitere Informationen finden Sie in der <a href="https://www.ines-heilmann.de/pages/datenschutz/datenschutz.php">Datenschutzerklärung</a>.
    <div>
        <button onclick="acceptCookies()">Zustimmen</button>
        <button onclick="declineCookies()">Ablehnen</button>
    </div>
</div>