{# <footer class="bg-secondary-color">
    <div class="flex justify-between max-w-screen-xl xl:mx-auto mx-8 my-10">
        <div>
            <li><a href="#" class="">Hauptgerichte</a></li>
            <li><a href="#" class="">Hauptgerichte</a></li>
            <li><a href="#" class="">Hauptgerichte</a></li>
        </div>
        <div>
            <li><a href="#" class="">Hauptgerichte</a></li>
            <li><a href="#" class="">Hauptgerichte</a></li>
            <li><a href="#" class="">Hauptgerichte</a></li>
        </div>
        <div>
            <li><a href="#" class="">Hauptgerichte</a></li>
            <li><a href="#" class="">Hauptgerichte</a></li>
            <li><a href="#" class="">Hauptgerichte</a></li>
        </div>
    </div>

</footer> #}


<footer class="bg-secondary-color text-white py-8">
    <div class="flex justify-between max-w-screen-xl xl:mx-auto mx-8">

        <div>
            <h3 class="text-lg font-semibold text-white mb-4">Unternehmen</h3>
            <ul>
                <li><a href="#" class="hover:text-white">Über uns</a></li>
                <li><a href="#" class="hover:text-white">Kontakt</a></li>
                <li><a href="#" class="hover:text-white">Impressum</a></li>
                <li><a href="#" class="hover:text-white">Datenschutz</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-semibold text-white mb-4">Kategorien</h3>
            <ul>
                <li><a href="/kategorien/hauptgerichte" class="hover:text-white">Hauptgerichte</a></li>
                <li><a href="/kategorien/getraenke" class="hover:text-white">Getränke</a></li>
                <li><a href="/kategorien/desserts" class="hover:text-white">Desserts</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-semibold text-white mb-4">Folge uns</h3>
            <div class="flex space-x-4">
                <a href="https://instagram.com" class="hover:text-white">{{ ux_icon('mdi:instagram', {class: 'w-8 h-8'}) }}</a>
                <a href="https://facebook.com" class="hover:text-white">{{ ux_icon('mdi:facebook', {class: 'w-8 h-8'}) }}</a>
                <a href="https://pinterest.com" class="hover:text-white">{{ ux_icon('mdi:pinterest', {class: 'w-8 h-8'}) }}</a>
            </div>
        </div>


    </div>

    <!-- Copyright und Technologien -->
    <div class="max-w-screen-xl xl:mx-auto mx-8 mt-8 text-center border-t border-white pt-4">
        <p>Realisiert von Ines Heilmann © 2024 – Alle Rechte vorbehalten.</p>
        <p class="text-sm">Erstellt mit Symfony, Tailwind und MySQL</p>
    </div>
</footer>