{% extends 'base.html.twig' %}

{# Homepage Bilder:
    Demorezept:     900 x 600
    Karten:         600 x 400
    Detailseite:    1280 x 500
 #}

{% block title %}
    Recines
{% endblock %}

{% block body %}

    <section>
        <div class="flex flex-wrap-reverse shadow">
        {% set recipeDemo = random(recipes) %}
        <div class="max-sm:order-2 max-sm:w-full max-sm:py-8 bg-primary-color grow px-8 py-16 w-2/6">
            <h2 class="text-3xl uppercase text-white mb-2">Unser Tipp des Tages</h2>
            <p class="text-text-color">{{ recipeDemo.title }}</p>
            <a href="{{ path('app_recipe_show', { id: recipeDemo.id }) }}" 
                class="inline-block py-2.5 px-3 mt-6 text-text-color font-semibold uppercase 
                    border-2 border-text-color rounded-sm bg-transparent 
                    hover:text-white hover:bg-text-color transition duration-300"
            >Hier klicken</a>
        </div>
        <img class="max-sm:order-1 max-sm:w-full w-4/6 object-cover object-center h-[450px]"
            src="{{ recipeDemo.imageUrl | imagine_filter('homepage_stage') }}"/>
    </section>

    <section>
        <h2 class="max-sm:text-center text-3xl uppercase text-secondary-color mb-6">Rezepte</h2>
        {{ include('partials/_recipe-list.html.twig') }}
    </section>

{% endblock %}
