{% extends 'base.html.twig' %}

{% block title %}
    Recipes
{% endblock %}

{% block body %}

    <section class="flex max-sm:flex-col max-w-screen-xl xl:mx-auto mx-8 my-10 sm:h-[450px] shadow">
        <div class="max-sm:order-2 max-sm:w-full max-sm:py-8 bg-primary-color grow px-8 py-16 w-2/5">
            <h2 class="text-3xl uppercase text-white mb-2">Unser Tipp des Tages</h2>
            <p class="text-text-color">Bananen gehen in die Maill und bestellen Kaffee!</p>
            <button class="p-2.5 rounded-sm mt-6 uppercase text-text-color border-2 border-text-color font-semibold">Hier klicken</button>
        </div>
        <img class="max-sm:order-1 max-sm:w-full w-3/5 object-cover object-center" 
            height="450" src="{{ asset('images/websiteplanet-dummy-900X600.webp') }}">
    </section>

    <section class="max-w-screen-xl xl:mx-auto mx-8 my-10">
        <h2 class="max-sm:text-center text-3xl uppercase text-secondary-color mb-6">Rezepte</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-8 ">
            {% for recipe in recipes %}
                <div class="bg-white shadow max-w-[600px] mx-auto">
                    <img src="{{ recipe.getImageUrl(600) }}">
                    <p class="p-4 uppercase text-secondary-color font-semibold">{{ recipe.title }}</p>
                </div>
            {% endfor %}       
        </div>
    </section>

{% endblock %}
