{% extends 'base.html.twig' %}

{% block title %}
    Recipes
{% endblock %}

{% block body %}
    <section class="max-w-screen-xl xl:mx-auto mx-8 my-10">
        {{ include('partials/_recipe-list.html.twig', { 'recipes': category.recipes }) }}
    </section>

{% endblock %}