@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h {
        @apply uppercase leading-tight;
    }

    .h2 {
        @apply h text-2xl md:text-3xl mb-6 font-bold;
    }

    .h3 {
        @apply h text-xl md:text-2xl mb-4 font-semibold;
    }

    .max-w-container {
        @apply box-content max-w-screen-xl mx-auto px-4 md:px-8 my-10;
    }

    .max-w-container:last-of-type {
        @apply mb-14;
    }
}

@layer utilities {
    .tag {
        @apply text-secondary-color py-0.5 my-0.5;
    }

    .img-large-height {
        @apply h-[250px] sm:h-[350px] lg:h-[450px];
    }
}

/* pacifico-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pacifico-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

header h1 {
    font-family: Pacifico, sans-serif;
}

.nav-open #main-nav {
    left: 0;
}

#main-nav {
    left: -90%;
}

.nav-open #overlay {
    display: block;
}

#overlay {
    display: none;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: none;
    z-index: 20;
}
#cookie-banner button {
    background-color: #264c37;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin: 0.5rem;
}